{{> topbar}}
{{> header}}

<div class="container">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge text-bg-secondary">ID:</span> &nbsp;&nbsp; {{id}}</li>
            <li class="list-group-item"><span class="badge text-bg-secondary">Name:</span>&nbsp;&nbsp; {{name}}
            </li>
            <li class="list-group-item"><span class="badge text-bg-secondary">Email:</span>&nbsp;&nbsp; {{email}}
            </li>
        </ul>
    </div>
</div>